*{
    font-family: Roboto, Kanit, sans-serif;
}
body{
    max-width: 1000px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    margin: 0;
}
.first_container{
    background-color: hsl(206, 17%, 18%);
    color: white;
    height: 40vh;
}
.box1, .box2{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
.menu{
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-left: 270px;
}
.menu li{
    display: inline-block;
    padding: 5px;
    width: 100px;
    border: 0px solid;
    border-radius: 3px;
    text-align: center;
}
.menu .list:hover{
    background-color: hsl(220, 100%, 60%);
    transition: 0.3s;
}
.box2{
    padding: 50px;
    display: flex;
    height: 180px;
}
.flex{
    flex: 1;
}
.landpic1{
    height: 180px;
    width: 400px;
}
.button{
    border: 0px solid;
    border-radius: 3px;
    background-color: hsl(220, 100%, 60%);
    width: 100px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.button:hover{
    background-color: hsl(249, 100%, 48%);
    transition: 0.3s;
}
.par{
    margin: 0;
}
.des{
    margin: 0;
    margin-bottom: 10px;
}
.second_container{
    height: 30vh;
    max-width: 800px;
    margin: 0 auto;
}
.offer{
    font-size: 1.5em;
    text-align: center;
}